.highlight  {
  background: var(--flexoki-950);
  padding: 1px 1em;
  border-radius: 3px;
  font-size: 1em;
  font-size: 0.9em;
  overflow: auto;
  margin: 1em -1em;
  code{
    padding: 0;
  }
}

div.highlight {
  display: grid;
}

.highlight .c { color: var(--flexoki-600); font-style: italic } /* Comment */
.highlight .err { color: var(--flexoki-red-400); background-color: var(--flexoki-red-950) } /* Error */
.highlight .k { color: var(--flexoki-purple-400); font-weight: bold } /* Keyword */
.highlight .o { color: var(--flexoki-orange-400); font-weight: bold } /* Operator */
.highlight .cm { color: var(--flexoki-600); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: var(--flexoki-600); font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: var(--flexoki-600); font-style: italic } /* Comment.Single */
.highlight .cs { color: var(--flexoki-600); font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: var(--flexoki-red-400) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--flexoki-red-400) } /* Generic.Error */
.highlight .gh { color: var(--flexoki-600) } /* Generic.Heading */
.highlight .gi { color: var(--flexoki-green-400) } /* Generic.Inserted */
.highlight .go { color: var(--flexoki-500) } /* Generic.Output */
.highlight .gp { color: var(--flexoki-400) } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--flexoki-500) } /* Generic.Subheading */
.highlight .gt { color: var(--flexoki-red-400) } /* Generic.Traceback */
.highlight .kc { color: var(--flexoki-purple-400); font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: var(--flexoki-purple-400); font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: var(--flexoki-purple-400); font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: var(--flexoki-purple-400); font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: var(--flexoki-blue-400); font-weight: bold } /* Keyword.Type */
.highlight .m { color: var(--flexoki-cyan-400) } /* Literal.Number */
.highlight .s { color: var(--flexoki-red-400) } /* Literal.String */
.highlight .na { color: var(--flexoki-cyan-400) } /* Name.Attribute */
.highlight .nb { color: var(--flexoki-blue-400) } /* Name.Builtin */
.highlight .nc { color: var(--flexoki-blue-400); font-weight: bold } /* Name.Class */
.highlight .no { color: var(--flexoki-cyan-400) } /* Name.Constant */
.highlight .ni { color: var(--flexoki-magenta-400) } /* Name.Entity */
.highlight .ne { color: var(--flexoki-red-400); font-weight: bold } /* Name.Exception */
.highlight .nf { color: var(--flexoki-red-400); font-weight: bold } /* Name.Function */
.highlight .nn { color: var(--flexoki-400) } /* Name.Namespace */
.highlight .nt { color: var(--flexoki-blue-400) } /* Name.Tag */
.highlight .nv { color: var(--flexoki-cyan-400) } /* Name.Variable */
.highlight .ow { color: var(--flexoki-orange-400); font-weight: bold } /* Operator.Word */
.highlight .w { color: var(--flexoki-500) } /* Text.Whitespace */
.highlight .mf { color: var(--flexoki-cyan-400) } /* Literal.Number.Float */
.highlight .mh { color: var(--flexoki-cyan-400) } /* Literal.Number.Hex */
.highlight .mi { color: var(--flexoki-cyan-400) } /* Literal.Number.Integer */
.highlight .mo { color: var(--flexoki-cyan-400) } /* Literal.Number.Oct */
.highlight .sb { color: var(--flexoki-red-400) } /* Literal.String.Backtick */
.highlight .sc { color: var(--flexoki-red-400) } /* Literal.String.Char */
.highlight .sd { color: var(--flexoki-red-400) } /* Literal.String.Doc */
.highlight .s2 { color: var(--flexoki-red-400) } /* Literal.String.Double */
.highlight .se { color: var(--flexoki-red-400) } /* Literal.String.Escape */
.highlight .sh { color: var(--flexoki-red-400) } /* Literal.String.Heredoc */
.highlight .si { color: var(--flexoki-red-400) } /* Literal.String.Interpol */
.highlight .sx { color: var(--flexoki-red-400) } /* Literal.String.Other */
.highlight .sr { color: var(--flexoki-green-400) } /* Literal.String.Regex */
.highlight .s1 { color: var(--flexoki-red-400) } /* Literal.String.Single */
.highlight .dl { color: var(--flexoki-red-400) } /* Literal.String.Delimiter */
.highlight .ss { color: var(--flexoki-magenta-400) } /* Literal.String.Symbol */
.highlight .bp { color: var(--flexoki-600) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--flexoki-cyan-400) } /* Name.Variable.Class */
.highlight .vg { color: var(--flexoki-cyan-400) } /* Name.Variable.Global */
.highlight .vi { color: var(--flexoki-cyan-400) } /* Name.Variable.Instance */
.highlight .il { color: var(--flexoki-cyan-400) } /* Literal.Number.Integer.Long */
